<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>343667912132-u4qd0kkn8hpfiqqdj6ijl0o7rg8jq3ds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343667912132-u4qd0kkn8hpfiqqdj6ijl0o7rg8jq3ds</string>
	<key>API_KEY</key>
	<string>AIzaSyBRgTa9SoAqlKLJYZKArWGNACk1jmtMvVo</string>
	<key>GCM_SENDER_ID</key>
	<string>343667912132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.insta.insta</string>
	<key>PROJECT_ID</key>
	<string>instagram-c-b919f</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-c-b919f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343667912132:ios:62044a5eb35102306f0891</string>
</dict>
</plist>